.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #239e48 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.btn.btn-primary {
    background-color: #239e48;
    border-color: #239e48;
}

.section {
    position: relative;
    top: -70px;
    padding: 70px 0 0;
    margin: 0 0 -70px;
}

.section:last-child {
    margin-bottom: 0;
}

.section h2.title {
    font-size: 1.6rem;
    padding-top: 40px;
    margin: 0;
}

.info {
    padding: 40px 0 0;
}

.navbar .navbar-brand {
    margin-right: 0;
    font-size: 1.5rem;
   text-transform: uppercase;
}

.navbar .navbar-brand strong {
    font-weight: 800;
}

.navbar .navbar-brand .logo {
    display: inline-block;
    background-image: url(../img/logo.svg);
    width: 34px;
    height: 20px;
    margin-right: 0.4rem;
}

.nav-icon {
    margin-top: -3px;
    background-size: cover;
    width: 20px;
    display: inline-block;
    border-radius: 4px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.nav-icon--tile {
    background-image: url('../img/nav/tile.png'); 
}

.nav-icon--wood {
    background-image: url('../img/nav/wood.png'); 
}

.nav-icon--insulation {
    background-image: url('../img/nav/insulation.png'); 
}

.nav-icon--zinguerie {
    background-image: url('../img/nav/zinguerie.png'); 
}

.page-header {
    max-height: 800px;
    height: 680px;
    min-height: 680px;
    background-image: url('../img/bg.jpg');
    background-color: #607D8B;
}

.page-header .title {
    font-size: 1.7rem;
    margin-top: 0;
}

.page-header_description {
    padding: 0.4rem 0;
}

.page-header_description a {
    color: inherit;
}

.page-header_description p {
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: justify;
}

.page-promo {
    max-height: 160px;
    position: relative;
    margin-top: 20px;
}

.page-promo__text {
    position: absolute;
    right: 100px;
    bottom: -20px;
    width: 200px;
    height: 140px;
    background-color: #be202a;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    text-align: center;
}

.page-promo__text-1 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 500;
}

.page-promo__text-2 {    
    line-height: 42px;
    font-size: 32px;
}

.page-promo__text-3 {
    line-height: 42px;
    font-size: 40px;
    font-weight: 800;
}

.page-promo__text-ht {
    font-size: initial;
}

.page-promo img {
    height: 400px;
}

.main-raised {
    margin: -60px 10px 0px;
}

.section--tile .icon img {
    width: 200px;
}

footer .copyright {
    font-size: 1rem;
}

.product-box {
    width: 400px;
    margin: 0 auto;
}

.product-box .product-images {
    position: relative;
    margin-bottom: 15px;
}

.product-box .product-image,
.product-box .product-thumb {
    display: none;
}

.product-box .product-image:first-child,
.product-box .product-thumb:first-child {
    display: initial;
}

.product-box img {
    width: 100%;
}

.product-box .product-label {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 28px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.5);
}

.product-box .product-row  {
    display: flex;
    flex-wrap: wrap;
}

.product-box .product-thumbs {
    position: relative;
    max-width: 32%;
}

.product-box .product-thumbs--creaton {
    margin: -4px 0 0 -5px;
}

.product-box .product-thumbnails {
    position: relative;
    max-width: 68%;
    margin-left: 5px;
}

.product-box .product-thumbnail  {
    position: relative;
    display: inline-block;
    width: 25%;
    max-width: 25%;
    padding: 0 0 5px 5px;
}

/** iphone4 **/
@media (max-width: 330px) {

    .page-header .title,
    .section h2.title {
        font-size: 1.5rem;
    }

    .navbar .navbar-brand {
        font-size: 1.4rem;
    }
}

@media (min-width: 576px) {

    .page-header .title {
        font-size: 3.3125rem;
    }

    .section h2.title {
        font-size: 2.25rem;
    }

    .main-raised {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 768px) {

    .page-header {
        height: 80vh;
        background-size: 138%;
        background-position: 4% 40%;
    }

    .page-header_description {
        padding: 1.4rem 0 1rem;
    }

    .page-promo {
        margin-top: 0;
        max-height: initial;
    }

    .page-promo__text {
        bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .page-header {
        max-height: 600px;
    }

    .page-header .title {
        font-size: 2.2rem;
    }

    .page-header_description p {
        font-size: 1.1rem;
    }

    .page-promo img {
        height: 360px;
        margin-right: 0;
        margin-top: 20px;
    }

    .page-promo__text {
        right: auto;
        left: 0;
    }
}

@media (min-width: 992px) {

    .navbar .navbar-brand {
        display: flex;
        vertical-align: middle;
        font-size: 1.4rem;
        margin-right: 0.4rem;
    }

    .navbar .navbar-brand strong {
        margin-right: 0.4rem;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0.6rem;
        font-size: 0.85rem;
    }

    .navbar .navbar-brand .logo {
        display: inline-block;
        background-image: url(../img/logo.svg);
        width: 40px;
        height: 24px;
        margin-right: 0.8rem;
    }

    .nav-icon--mobile,
    .nav-text--mobile {
        display: none;
    }

    .page-header .title {
        font-size: 2.4rem;
    }

    .page-header_description p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .page-promo__text {
        right: 0;
    }

    .page-promo img {
        margin-right: 40px;
    }
}

@media (min-width: 1200px) {
    .navbar .navbar-brand {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0.8rem;
        font-size: 0.9rem;
    }

    .navbar .navbar-brand .logo {
        width: 46px;
        height: 28px;
    }
}